@import '~@com/index.less';

.dm_headerBar_searchArea, .dm_SearchInput {
    width: 100%;
    background: #fff;
}
.dm_headerBar_searchArea {
    height: 82px;
    border-bottom: 1px solid #e6e6e6;
    .el-row {
        display: flex;
        align-items: center;
        height: 100%;
        .el-col-16 {
            display: flex;
            padding-left: 30px;
            >a {
                display: block;
                min-width: 90px;
                text-align: center;
                height: 82px;
                line-height: 82px;
                padding: 0 15px;
                font-size: 14px;
                color: @font-color-555;
                font-weight: bold;
                cursor: pointer;
                text-decoration: none;
                &:hover {
                    color: @font-color-white;
                    background-color: @main-color;
                }
                &.active {
                    color: @font-color-white;
                    background-color: @main-color;
                }
            }
        }
        .el-col-4 {
            display: flex;
            justify-content: flex-end;
            &.logo {
                cursor: pointer;
            }
            .el-button {
                padding-top: 8px;
                padding-bottom: 8px;
            }
            >div {
                margin-left: 10px;
            }
        }
    }
}
.dm_SearchInput {
    height: 74px;
    .el-row {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .el-input-search {
            max-width: 500px;
            button {
                i {                        
                    font-size: 15px;
                }
            }
        }
    }
}